*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/
header{
    height: 60px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
}
header .brand img{
    margin-left: 10px;
    max-height: 50px;
}

header nav{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-height: 60px;
    max-width: 100%;
}

header nav ul{
    line-height: 60px;
}

header nav ul li{
    display: inline-block;
    position: relative;
}

header nav ul li a{
    display: block;
    padding: 0 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: clamp(0.5em, 1vw, 2em);
    transition: all 0.5s;
}


header nav  ul li a:hover{
    background-color: aqua;
    color: rgb(244, 248, 18);
}

header nav ul li .drop-down{
    width: 100%;
    background-color: #b1bbc5;
    position: absolute;
    z-index: 999;
    display: none;
}

header nav ul li .drop-down li{
    display: block;
}

header nav .burger-menu{
    display: none;
    max-height: 50px;
    margin: 0px 15px;
}

header nav .burger-menu i{
    color: white;
    font-size: 2em;
}

#checkbox{
    display: none;
}

header nav ul li .drop-down a:hover{
    border-left: 4px solid #282e34;
}

header nav ul li:hover ul.drop-down{
    display: block;
}

/*MAIN*/
.flex-container{
    display: grid;
    /*--n: 4;
    grid-template-columns: repeat(auto-fit, minmax(max(200px,(100% - (var(--n) - 1)*10px)/var(--n)), 1fr));*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
}

.box{
    border: 1px solid blue;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    height: 400px;
    width: clamp(35ch, 50%, 60ch);
    text-align: center;
}
.box:hover{
    background-color: rgb(36, 114, 114);
}


@media screen and (min-width: 768px) {
    main {
      margin: 60px;
    }
  }

  @media screen and (max-width: 64em) {
    header nav{
        align-items: center;
    }

    header nav ul{
        height: 0;
        max-height: none;
        position: fixed;
        top: 60px;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: gray;
        transition: height 1s ease-in-out;
    }
    header nav .burger-menu{
        display: block;
        z-index: 999;
        max-height: 50px;
        margin: 0px 15px;
    }

    header nav .burger-menu i:hover{
        color: pink;
    }

    #checkbox:checked ~ ul{
        height: 60vh;
        transition: height 1s;
    }
  }
